@import "./../../global.scss";

button {
    border: 1px solid $black;
    border-radius: 6px;
    padding: 8px;
    background-color: transparent;
    min-width: 100px;
    cursor: pointer;
    &.primary {
        background-color: $white;
    }
    &.secondary {
        background-color: $limedSpruce;
        color: $white;
    }
    &.facebook{
        background-color: $facebook;
        color: $white;
        border: none;
    }
    &.sm{
        width: 100px;
    }
    &.md{
        width: 150px;
        font-size: 12px;
    }
    &.lg{
        width: 330px;
    }

}