@import "./../../global.scss";

button {
    border: 1px solid $black;
    border-radius: 6px;
    padding: 12px;
    background-color: transparent;
    min-width: 100px;
    cursor: pointer;
    &.primary {
        background-color: $white;
    }
    &.secondary {
        background-color: $limedSpruce;
        color: $white;
    }

    &.sm{
        width: 100px;
    }
    &.lg{
        width: 150px;
    }

}