@import "./../../global.scss";

button {
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px #dadada;
    padding: 12px;
    background-color: transparent;
    border-radius: 10px !important;
    min-width: 100px;
    cursor: pointer;
    &.primary {
        background-color: $white;
    }
    &.secondary {
        background-color: $limedSpruce;
        color: $white;
    }

    &.sm{
        width: 100px;
    }
    &.lg{
        width: 150px;
    }

}