@import "./../../global.scss";

.Icon_with_Text{   
    display: flex;
    align-items: center;
    justify-content: center;
   
   
  
    p{
        font-size: 12px;
        margin-left: 10px;
        margin-top: 15px;
       
    }

}