.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(242, 242, 242, 0.75);
    margin:100px;
    border-radius: 12px;
    padding: 40px;
     gap: 100px;

}